@model IEnumerable<Inventario.Data.Entities.Zonas>

@{
    ViewData["Title"] = "Index";
}

<h2>Zonas de Inventario</h2>


<div class="row">
 
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
         
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
           
        </div>

    </div>
    <ul class="nav nav-tabs">
        <li><a asp-action="Create" class="btn btn-primary">Create New</a></li>
        <li class="active"><a data-toggle="tab" href="#home">List</a></li>
        <li><a asp-area="" asp-controller="UploadZonas" asp-action="Index" class="btn btn-success">Upload</a> </li>   
        @*<li><a data-toggle="tab" href="#menu1">Upload</a></li>*@
        <li><a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success">Home</a> </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreZona)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asg)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaActualización)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreZona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Asg)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaActualización)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="menu1" class="tab-pane fade">
           
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>

